Package: lite-tweaks
Version: 2.0-0270-linuxlite
Essential: yes
Section: base
Priority: required
Installed-Size: 114
Depends: apt, zenity, gksu
Homepage: http://www.linuxliteos.com
Maintainer: Jerry Bezencon <valtam@linuxliteos.com>
Architecture: all
Description: Lite Tweaks
 A collection of tools to tweak and clean your Linux Lite system.
